<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>
    <div class="container">
        {{>pageheader}}
        <div class="row-center">
            {{>404}}
        </div>
        {{>footer}}
    </div>
</body>

</html>