<form>
    <input placeHolder="Enter location name" id="location" type="text">
    <button id="submit">Submit</button>
</form>
<div>
    <p id="message-1"></p>
</div>
<div>
    <p id="message-2"></p>
</div>